html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #f2a900;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin: 10px auto;
    max-width: 1200px;
    width: 85%;
    padding: 20px 60px 20px 60px;
    color: #424242;
    background-color: #fefefe;
    border-radius: 7px;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #0d579b;
    font-size: 160%;
    margin-top: 0;
    text-align: center;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #383838;
    font-size: 130%;
    padding-top: 1em;
    text-align: left;
}
h3 {
    color: #383838;
    font-size: 110%;
    text-align: left;
}
h4 {
    font-size: 145%;
    color: #7b7c7c;
    margin: 20px auto 45px auto;
}
a:link,
a:visited,
a:active,
a.link-js {
    color: #2c6fad;
    text-decoration: none;
    cursor: pointer;
}
a:link:hover,
a:visited:hover,
a:active:hover,
a.link-js:hover {
    color: #63a4e1;
}
a img,
a:link img,
a:visited img,
a:active img {
    border: 0;
    padding: 0 5px 5px 5px;
}
.header {
    margin: 5px 5px 0;
}
.pagedate {
    font-size: 75%;
    text-align: right;
    margin-right: 40px;
    color: #787777;
}
img.right {
    display: block;
    float: right;
}
.floatLeft {
    float: left;
    clear: left;
}
.ref-column {
    display: inline-block;
    padding-left: 0.5em;
    text-align: justify;
}
.ref-label {
    display: inline-block;
    float: left;
    padding-right: 0.5em;
}
.copyrightinfo {
    font-size: 10px;
    margin-top: 1em;
}
.indextitle {
    font-size: 18px;
    margin-bottom: 30px;
}
.indexfaq {
    padding-top: -20px; /* Clear the 20px of padding introduced by the h2 rule */
}
td,
th {
    padding: 0px 0.5em 0.5em 0.5em;
    vertical-align: top;
}
p {
    padding: 0 0 5px 0;
}
td > p {
    margin: 0 0 0px 0;
    padding: 0 0 0.5em 0;
}
p:empty {
    margin: 0;
    padding: 0;
    height: 5px;
}

pre,code{font-size:80%}

